<section class="our-articles bg-light-white section-padding ">
    <div class="container-fluid custom-container">
        <div class="row">
            <aside class="col-xl-3 col-lg-4 mb-md-40">
                <app-donation-sidebar></app-donation-sidebar>
            </aside>
            <div class="col-xl-9 col-lg-8">
                <div class=" full-width">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let item of donationblock | paginate: { itemsPerPage: 12, currentPage: page }">
                            <div class="sa-causes-single sa-causes-single-2">
                                <div class="entry-thumb">
                                    <img [src]="item.image" [alt]="item.title" class="img-fluid full-width">
                                <div class="dontaion-category"><a routerLink="/donation/cat/{{cat.id}}" *ngFor="let cat of getCategories(item.category)">{{cat.title}}</a></div>
                                </div>
                                <div class="causes-details-wrap">
                                    <div class="causes-details">
                                        <h5><a routerLink="/donation-details/{{item.id}}">{{item.title}}</a></h5>
                                        <p>{{item.shortdesc}}</p>
                                        <div class="cause-progress">
                                            <div class="progress-bar" [style.width.%]="item.raised * 100 / item.goal">
                                                <span>{{item.raised * 100 / item.goal | number:'1.0-0'}}%</span>
                                            </div>
                                        </div>
                                        <div class="causes-amount">
                                            <div class="left">
                                                <p>Raised</p>
                                                <span>${{item.raised | number:'1.2-2'}}</span>
                                            </div>
                                            <div class="right">
                                                <p>Goal</p>
                                                <span>${{item.goal | number:'1.2-2'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-area text-center">
                                    <a class="btn-donation text-btn" routerLink="/donation-details/{{item.id}}">donate now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pagination Start -->
                <div class="custom-pagination pagination">
                    <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<" nextLabel=">">
                    </pagination-controls>
                </div>
                <!-- Pagination End -->
            </div>
        </div>
    </div>
</section>