<app-top-bar></app-top-bar>
<app-header></app-header>
<app-banner></app-banner>
<app-about-text></app-about-text>
<app-best-sellers></app-best-sellers>
<app-cta></app-cta>
<app-donation-box></app-donation-box>
<app-tabs-product></app-tabs-product>
<app-advertisement></app-advertisement>
<app-donation-campaigns></app-donation-campaigns>
<app-shop-box></app-shop-box>
<app-testimonials></app-testimonials>
<app-blog-post></app-blog-post>
<section class="section-padding block_newsletter">
    <app-newsletter-one></app-newsletter-one>
</section>
<app-footer></app-footer>