<section class="section-padding advertisement-banner-1 center-bg-effect what-wedo-bg bg-cover" [style.background-image]="'url(assets/img/innerbanner2.jpg)'">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-12">
                <div class="advertisement-text text-center mx-center-width">
                    <h3 class="text-white fw-600">We Are In A<span class="text-dark-red"> Mission</span> To Help Helpless</h3>
                    <p class="text-white">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div>
            </div>
        </div>
    </div>
</section>