<div class="side-bar">
    <div class="main-box padding-20 side-shop mb-xl-20">
        <h5 class="text-light-black">Recent Products</h5>
        <article class="side-post pb-xl-20 mb-xl-20 u-line" *ngFor="let item of recentProduct()">
            <div class="thumb-img">
                <a routerLink="/shop-details/{{item.id}}">
                    <img [src]="item.image[0]" [alt]="item.title">
                </a>
            </div>
            <div class="content-wrap">
                <div class="entry-meta-content">
                    <h6 class="entry-title">
                        <a routerLink="/shop-details/{{item.id}}" class="text-light-black">{{item.title}}</a>
                    </h6>
                    <div class="entry-tye"> 
                        <span class="text-light-green fw-600 fs-16">${{item.price * (100 - item.discount) / 100 |
                            number:'1.2-2'}}</span>
                        <span class="text-price" *ngIf="item.discount">${{item.price | number:'1.2-2'}}</span>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="main-box padding-20 trending-blog-cat mb-xl-20">
        <h5 class="text-light-black">Price</h5>
        <div class="delivery-slider">
            <ngx-slider [(value)]="priceFilter[0]" [(highValue)]="priceFilter[1]" [options]="priceFilterOptions" [(ngModel)]="priceFilter" (click)="handlePriceChange()"></ngx-slider>
        </div>
    </div>
    <div class="main-box padding-20 trending-blog-cat mb-xl-20">
        <h5 class="text-light-black">Brands</h5>
        <div class="filter">
            <form>
                <label class="custom-checkbox">
                    <input type="checkbox" name="#"> <span class="checkmark"></span> Goldturn <span class="text-light-white">(3)</span>
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" name="#"> <span class="checkmark"></span> Silverline <span class="text-light-white">(6)</span>
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" name="#"> <span class="checkmark"></span> Gemtuk <span class="text-light-white">(10)</span>
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" name="#"> <span class="checkmark"></span> Ringwing <span class="text-light-white">(6)</span>
                </label>
            </form>
        </div>
    </div>
    <div class="main-box padding-20 trending-blog-cat mb-xl-20">
        <h5 class="text-light-black">Weight</h5>
        <div class="filter">
            <form>
                <label class="custom-radio">
                    <input type="radio" name="#"> <span class="radio"></span> Small
                </label>
                <label class="custom-radio">
                    <input type="radio" name="#"> <span class="radio"></span> Medium
                </label>
                <label class="custom-radio">
                    <input type="radio" name="#"> <span class="radio"></span> Large
                </label>
            </form>
        </div>
    </div>
    <div class="main-box padding-20 blog-tags mb-xl-20">
        <h5 class="text-light-black">Tags</h5>
        <a routerLink="/shop/tag/{{item.id}}" *ngFor="let item of producttags">#{{item.title}}</a>
    </div>
    <div class="main-box padding-20 trending-blog-cat mb-xl-20">
        <h5 class="text-light-black">Categories</h5>
        <ul>
            <li class="pb-xl-20 u-line mb-xl-20" *ngFor="let item of category"> 
                <a routerLink="/shop/cat/{{item.id}}" class="text-light-black fw-600">{{item.title}} <span class="text-light-white fw-400">({{item.count}})</span></a>
            </li>
        </ul>
    </div>
</div>