<section class="compare-page-wrapper bg-light-white section-padding">
    <!-- compare main wrapper start -->
    <div class="container">
        <div class="section-bg-color">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Wishlist Table Area -->
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="pro-remove">Remove</th>
                                    <th class="pro-thumbnail">Thumbnail</th>
                                    <th class="pro-title">Product</th>
                                    <th class="pro-price">Price</th>
                                    <th class="pro-quantity">Stock Status</th>
                                    <th class="pro-subtotal">Add to Cart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of wishlistItems">
                                    <td class="pro-remove">
                                        <a href="javascript:void(0)" (click)="handleDeleteFromWishlist(item)"><i class="pe-7s-trash"></i></a>
                                    </td>
                                    <td class="pro-thumbnail">
                                        <a routerLink="/shop-details/{{item.id}}">
                                            <img class="img-fluid" [src]="item.image[0]" [alt]="item.title" />
                                        </a>
                                    </td>
                                    <td class="pro-title">
                                        <a routerLink="/shop-details/{{item.id}}">{{item.title}}</a>
                                    </td>
                                    <td class="pro-price">
                                        <span>${{item.price | number:'1.2-2'}}</span>
                                    </td>
                                    <td class="pro-quantity">
                                        <span class="text-success" *ngIf="item.stock">In Stock</span>
                                        <span class="text-danger" *ngIf="!item.stock">Stock Out</span>
                                    </td>
                                    <td class="pro-subtotal">
                                        <a href="javascript:void(0)" class="btn btn-solid" (click)="productAddtoCart(item)" *ngIf="item.stock">Add to
                                            Cart</a>
                                        <a href="javascript:void(0)" class="btn btn-solid disabled"  *ngIf="!item.stock">Add
                                            to Cart</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- compare main wrapper end -->
</section>