<section class="section-padding advertisement-banner-1 bg-cover" [style.background-image]="'url(assets/img/innerbanner2.jpg)'">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-8 custom-center">
                <div class="advertisement-text-1 mb-30">
                    <h6 class="sub-head">What We do</h6>
                    <h3 class="text-white heading">Delivering help and hope
                        to <span class="text-color-secondary"> people</span> through <span class="text-color-secondary"> sponsorship</span></h3>
                    <p></p>
                </div>
                <div class="promo-se-icons mb-30 mb-sm-20">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="icon-box d-flex align-items-center">
                                <img src="assets/img/dn1.png" alt="">
                                <h5 class="slab">Build Homes</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="icon-box d-flex align-items-center">
                                <img src="assets/img/dn2.png" alt="">
                                <h5 class="slab">Build Schools</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="icon-box last d-flex align-items-center">
                                <img src="assets/img/dn3.png" alt="">
                                <h5 class="slab">Medical Expenses</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-self-center">
                <div class="blob play-btn ">
                    <a href="https://www.youtube.com/watch?v=KH1pcNUTa6U" class="popup-youtube popup-video"> <i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>