<app-top-bar></app-top-bar>
<app-header></app-header>
<app-banner></app-banner>
<app-service-type></app-service-type>
<app-team></app-team>
<app-best-sellers></app-best-sellers>
<app-video-cta></app-video-cta>
<app-donation-box></app-donation-box>
<app-product-box></app-product-box>
<app-advertisement></app-advertisement>
<app-donation-campaigns></app-donation-campaigns>
<app-shop-box></app-shop-box>
<app-testimonials></app-testimonials>
<app-blog-post></app-blog-post>
<section class="section-padding block_newsletter">
    <app-newsletter-one></app-newsletter-one>
</section>
<app-footer></app-footer> 