<div class="top-header">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-6">
                <div class="top-left">
                    <ul class="top-info">
                        <li><a href="#"><i class="fas fa-phone-alt"></i> +000 123 45678</a></li>
                        <li><a href="#"><i class="fas fa-envelope"></i> info@example.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="top-right">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square"></i></a> </li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter-square"></i></a> </li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a> </li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a> </li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a> </li>
                    </ul>
                    <a routerLink="/contact" class="top-btn">$ Donate now</a>
                </div>
            </div>
        </div>
    </div>
</div>