<section class="section-padding advertisement-banner-1 what-wedo-bg bg-cover" [style.background-image]="'url(assets/img/innerbanner2.jpg)'">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-8">
                <div class="advertisement-text-1">
                    <h6 class="sub-head">We do it for all people</h6>
                    <h3 class="text-white heading">Delivering help and hope to <span class="text-dark-red">children</span> through sponsorship.</h3>
                    <div class="ad-count justify-content-start">
                        <countdown class="countdown-box white" units="Days | Hours | Minutes | Seconds"  end="December 31, 2021"></countdown>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-self-center">
                <div class="blob play-btn ">
                    <a href="https://www.youtube.com/watch?v=KH1pcNUTa6U" class="popup-youtube"> <i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>