<section class="about-section-style-1">
    <div class="row no-gutters">
        <div class="col-lg-6">
            <div class="full-height">
                <img src="assets/img/home-2-into.jpg" alt="img" class="img-fluid full-width full-height">
            </div>
        </div>
        <div class="col-lg-6 bg-custom-primary">
            <div class="about-section-container">
                <div class="section-header-left pb-0">
                    <h6 class="heading-title">Welcome To Vima</h6>
                    <h3 class="header-title text-white mb-20">Help Us Identify the Charities You Can Trust.</h3>
                    <p class="text-white">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.
                        He lay on his armour-like back, and if he lifted his head a little he could see his brown belly,
                        slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it.</p>
                    <a routerLink="/about" class="btn btn-text btn-text-white mt-20">Become A Volunteer</a>
                </div>
            </div>
        </div>
    </div>
</section>