<section class="section-padding blog-section bg-theme-primary">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-12">
                <div class="section-header-left title">
                    <h3 class="text-light-black header-title">Our Latest News</h3>
                    <span class="fs-16"><a routerLink="/blog-left">See All</a></span>
                </div> 
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6" *ngFor="let item of blogpost | slice:0:4">
                <article class="blog-item blog-item-box">
                    <div class="blog-item-img">
                        <img class="blog-img" [src]="item.image[0]" [alt]="item.title">
                        <ul class="blog-item-badge">
                            <li *ngFor="let cat of getCategories(item.category) | slice:0:2"><a routerLink="/blog/cat/{{cat.id}}">{{cat.title}}</a> </li>
                        </ul>
                    </div>
                    <div class="blog-item-content">
                        <h5 class="blog-item-title"><a routerLink="/blog-details/{{item.id}}">{{item.title}}</a></h5>
                        <p>{{item.shortdesc}}</p>
                        <div class="blog-item-details">
                            <span class="blog-item-date"><i class="fas fa-calendar-week"></i> {{item.postdate}}</span>
                            <span><i class="fas fa-comment-dots"></i> {{item.reviews.length}}</span></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>