<app-header></app-header>
<app-banner></app-banner>
<app-shop-adv></app-shop-adv>
<section class="recent-order section-padding bg-theme-primary">
    <app-tabs-product></app-tabs-product>
</section>
<app-cta></app-cta>
<section class="section-padding our-product">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-12">
                <div class="section-header-left">
                    <h3 class="text-light-black header-title title">Our Featured Products</h3>
                </div>
            </div>
        </div>
<app-donation></app-donation>
<app-shop-box></app-shop-box>
</div>
</section>
<app-advertisement></app-advertisement>
<app-donation-box></app-donation-box>
<section class="section-padding our-product bg-theme-primary">
    <app-tabs-product></app-tabs-product>
</section>
<section class="section-padding block_newsletter">
<app-newsletter-one></app-newsletter-one>
</section>
<app-footer></app-footer> 