<div class="inner-wrapper">
    <div class="container-fluid no-padding">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="main-banner">
                    <img src="assets/img/slider.jpg" class="img-fluid full-width main-img" alt="banner">
                    <div class="overlay-2 main-padding"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-2 main-page main-padding bg-theme-primary">
                    <div class="top-nav">
                        <h6><a routerLink="/shop-left" class="text-light-green fw-100">Explore</a></h6>
                        <h6><a routerLink="/login" class="text-light-green fw-100">Sign in</a></h6>
                    </div>
                    <div class="login-box">
                        <div class="col-12">
                            <h1 class="text-light-black fw-600">We’ve funded 44,007 Dollars over 10 million peoples</h1>
                            <p>Search Your Nearest Store.</p>
                            <div class="input-group row">
                                <div class="input-group2 col-xl-8">
                                    <input type="search" class="form-control form-control-submit" placeholder="Enter street address or zip code" value="1246 57th St, Brooklyn, NY, 11219">
                                    <div class="input-group-prepend">
                                        <button class="input-group-text text-light-green"><i class="fab fa-telegram-plane"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group-append col-xl-4">
                                    <button class="btn-solid with-line btn-big full-width" type="button">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>