<section class="p-relative single-banner">
    <img src="assets/img/banner/banner1.jpg" class="img-fluid full-width" alt="img">
    <div class="transform-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 align-self-center">
                    <div class="right-side-content text-center">
                        <h6 class="text-dark">Around the world.</h6>
                        <h1 class="text-dark fw-600">Our Helping people in need</h1>
                        <p class="text-dark fw-400">Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn fish
                            shortnose greeneye fusilier fish silver carp nibbler sharksucker tench lookdown catfishf</p>
                        <a routerLink="/shop-left" class="btn-solid with-line btn-big mt-20"><span>Explore<i
                                    class="fas fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay overlay-bg-white"></div>
</section>