<section class=" p-relative">
    <div class="container-fluid no-padding">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="main-banner video-banner">
                    <div class="overlay overlay-bg-dark"></div>
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="assets/img/video-bg.mp4" type="video/mp4">
                    </video>
                    <div class="overlay overlay-bg-dark-2"></div>
                </div>
                <div class="transform-center z-index">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 align-self-center">
                                <div class="right-side-content text-center">
                                    <h6 class="text-white">Around the world.</h6>
                                    <h1 class="text-white fw-600">Our Helping people in need</h1>
                                    <p class="text-white fw-400">Gray eel-catfish longnose whiptail catfish smalleye
                                        squaretail queen danio unicorn fish shortnose greeneye fusilier fish silver carp
                                        nibbler sharksucker tench lookdown catfishf</p>
                                    <a routerLink="/shop-left" class="btn-solid with-line btn-big mt-20"><span>Shop Now
                                            <i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>